html{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    background-color: greenyellow;
    width:100%;
    padding: 6px 5%;
}

@media (max-width: 430px) {
    header{
        width: 34em;
    }
}

img{
    height: 150px;
    width: 150px;
}

#casa,#sobre,#serviços,#contato{
    color: brown;
    display: block;
    text-decoration: none;
    
}

.box{
    text-align: center;
    font-size: 4vh;
    width: 200vh;
    border: solid 3px;
    padding: 6px;
    margin: 3px;
    background-color: aqua;
}

.flex-gallery{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: aqua;
}
